// Mixin
@mixin input {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  display: block;
  width: 100%;
  outline: none;
}

// Styling
.getTouch {
  padding: 60px 10px;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &_form {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 20px;
      color: #0b1c39;
    }
    textarea {
      border: 1px solid #e5e6e9;
      border-radius: 0px;
      height: 48px;
      padding: 10px 0 0 20px;
      font-size: 13px;
      background: transparent;
      height: 100%;
      outline: none;
    }
    .nameAdress {
      display: flex;
      margin: 30px 0;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .email {
        margin-left: 30px;
        @media screen and (max-width: 768px) {
          margin-left: 0;
          margin-top: 30px;
        }
      }
      input {
        @include input;
      }
    }
    .subject {
      @include input;
      height: 100px;
      @media screen and (max-width: 768px) {
        height: 48px;
      }
    }
    .addToCart__btn {
      border: none;
      padding: 7px 20px;
      background: #df2020;
      color: #fff;
      border-radius: 5px;
      font-size: 0.9rem;
      width: 15%;
      margin: 20px 0;
      @media screen and (max-width: 500px) {
        width: 30%;
      }
    }
  }

  &_all-icons {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 120px;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
    &_icon {
      display: flex;
      margin-top: 30px;
      i {
        font-size: 30px;
        margin-right: 20px !important;
        color: #8f9195;
        margin: 0 auto;
      }

      &_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h6 {
          font-size: 16px;
          color: #2a2a2a;
          font-weight: 500;
        }
        p {
          color: #8a8a8a;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
